		html {
		    display: table;
		    width:100%;
		    margin: auto;
		}

		body {
		    display: table-cell;
		    vertical-align: middle;
		    text-align:center;
			background-color: #ccc;
			font-family: sans-serif;		    
		}
		
		label {
			width: 100px;
			display: inline-block;
			margin: 5px 0;
		}
		addBtn{
			horizontal-align: middle;
		}
		input {
			display: inline-block;
			margin: 5px 0;
		}
		button {
			display: inline-block;
			margin: 20px 10px 20px 0;
		}
		th{
			text-align: center;
		}
		#wrapper {
			background-color: #fff;
			max-width: 1000px;
			margin: 0 auto;
			padding: 20px 40px;
		}
